* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
  }

.cards{
    display: flex;
    justify-content: center;
    
}

.singlecard{
    display: flex;
    width: 750px;
    height: 450px;
    justify-content: space-between;
    position: relative;
    
}


